.trending-image {
  width: 40%;
  border-radius: 8px;
  margin-right: 5vw;
}
.failure-container-trending{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  min-height: 120vh;
}
.loading-container-tr{
    min-height:120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
@media screen and (max-width: 568px) {
  .trending-image {
    width: 100%;
  }
  .failure-container-trending {
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
}
